# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# testing
/coverage

.env

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel


# firebase
firebase-debug.log
firestore-debug.log
node_modules
