@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  .dark {
    --background: 226 50% 12%; /* #13192B */
    --foreground: 210 40% 98%; /* #F8FAFC */
    --card: 226 40% 18%;
    --card-foreground: 210 40% 98%;
    --popover: 226 50% 12%;
    --popover-foreground: 210 40% 98%;
    --primary: 256 100% 70%; /* #9466FF */
    --primary-foreground: 210 40% 98%;
    --secondary: 226 40% 18%;
    --secondary-foreground: 210 40% 98%;
    --muted: 226 30% 25%;
    --muted-foreground: 216 33% 84%; /* #CBD5E1 */
    --accent: 175 64% 51%; /* #30D5C8 */
    --accent-foreground: 226 50% 12%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 226 40% 22%;
    --input: 226 40% 18%;
    --ring: 175 64% 51%;
    --chart-1: 256 100% 70%;
    --chart-2: 175 64% 51%;
    --chart-3: 340 85% 65%;
    --chart-4: 43 74% 66%;
    --chart-5: 200 90% 60%;
    --radius: 0.8rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
